body {
	text-align: center;
	font-family: arial;
}
#header {
	color: gold;
	font-size: 50px;
	font-family: 'Petit Formal Script', cursive;
	font-weight: bold;
}
#content {
	width: 800px;
	align-content: center;
	margin: -16px auto 5% auto;
	overflow-x: auto;
}
#guessContent {
	background-color: green;
	color: white;
	padding: 5%;
	border: 12px solid gold;
} 
#docUnderScore {
	color: black;
	background-color: white;
	font-size: 70px;
	font-weight: bolder;
	border: 3px solid grey;
	padding: 10px;
}
.win {
	margin: 5%;
}
h3, p {
	font-size: 24px;
}
